@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root {
  background-color:white;
  font-size:16px;
  --max-width: 1100px;
  --border-radius: 12px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Prata', serif;
}

h1 {
  margin: 1rem 0 0.25rem;
  color: #d71643;
}

p {
  font-family: 'Roboto', sans-serif;
}

#nav-main {

  padding:1rem;
  /* outline:1px solid red; */
}

#navbar_burger {
  margin-left: 0;
  appearance: none;
  background: 0 0;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
}

#navbar_burger span {
  background-color: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

#navbar_burger span:nth-child(1) {
  top: calc(50% - 6px);
}

#navbar_burger span:nth-child(2) {
  top: calc(50% - 1px);
}

#navbar_burger span:nth-child(3) {
  top: calc(50% + 4px);
}


#nav-main a {
  text-decoration: none;
}

#nav-brand a {
  font-family: 'Prata', serif;
  font-size:2rem;
  color:#d71643;
  border:1px solid grey;
  border-radius:0.125rem;
  display:inline-block;
  padding:0.25rem;
  /* margin:0 0 0.5rem; */
}

#nav-main ul {
  margin:0;
  padding:0;
  list-style-type:none;

}

#nav-main ul a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;;
  color: #0d49b7;
  font-size:1.25rem;
  /* outline:1px solid red; */
  display:block;
  padding:0.5rem;
}
